*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color: #206b85;
    height: 15%;
    background-image: url(../img/pattern.png);
}

#logo{
    height: 50px;
    text-align: left;
    margin-top: 4.5%;
    margin-left: 0.5%;
}

h1{
    margin-top: 0.5%;
    margin-left: 0.5%;
    font-size: xx-large;
}

section h6{
    color: #808080;
    margin-left: 0.5%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

section span{
    color: #157dd3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.containerimmagini {
    margin-left: 0.5%;
    margin-top: 0.5%;
}

.crediti{
    color: #000000;
    font-style: oblique;
}